.photo-drop-area {
    position: relative;
    border: 1px dashed #dee2e6;
    background: #ffffff;
    color: #495057;
    border-radius: 6px;
}

.photo-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.photo-drop-area,
.photo-area {
    margin: 0.5rem 0 1.5rem 0;
}

.uploaded-image {
    max-width: 100%;
    max-height: calc(93vh - 451px);
    border-radius: 1rem;
}