@import 'styles-desktop.css';
@import 'styles-mobile.css';
@import 'PhotoUploader.css';

@font-face {
    font-family: 'Mikado';
    src: url('../../fonts/MikadoBlack.otf');
}

@font-face {
    font-family: 'Linotte';
    src: url('../../fonts/LinotteRegular.otf');
}

@keyframes fadeinup-light {
    0% {
        opacity: 0;
        transform: translateY(-75px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    font-family : 'Linotte', sans-serif !important;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

body {
    background: linear-gradient(180deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

h1, h2, .main-font {
    font-family: 'Mikado', sans-serif !important;
}

a {
    text-decoration: none;
}

label > span {
    color: #e24c4c
}

.pi {
    font-family: 'primeicons', sans-serif !important;
}

.fadeinup-light {
    animation: fadeinup-light 1s ease 0s 1 normal forwards;
}

.border-round-4xl {
    border-radius: 3.125rem;
}

.card-home {
    transition: box-shadow 0.35s ease 0s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03), 0 0 2px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.12);
    cursor: default;
}

.card-home:hover,
.card-home:active {
    cursor: pointer;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 11px 15px rgba(0, 0, 0, 0.2);
}

.p-button-label {
    font-weight: normal !important;
}

.p-card-body {
    width: 100% !important;
    height: 100% !important;
}

.game-access {
    margin: 0.65rem;
    padding: 1rem 1.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.25rem;
    border: 1px solid #dee2e6;
}

.access-code-field {
    font-size: 3rem !important;
    text-align: center;
    font-weight: bold;
}

.p-photoupload .p-photoupload-content {
    padding: 1rem;
    border: 1px dashed #dee2e6;
}

.panel-size {
    width: 93vw !important;
    height: 93vh !important;
}

.text-6xl {
    font-size: 3.5rem !important;
}

.no-scroll {
    height: 100%;
    overflow: auto;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.p-disabled, .p-component:disabled {
    opacity: 1 !important;
}

.full-height-card-upload {
    height: calc(86vh - 250px);
}

.full-height-card-edit {
    height: calc(86vh - 373px);
}

.button-proposition {
    width: 100%;
    height: 6vh;
    border-radius: 100vw;
    font-size: 1.25rem;
    display: flex;
    column-gap: 0.75rem;
    padding-left: 1.5rem;
    text-align: left;
}

.small {
    width: calc(50% - 0.75rem);
}

.button-proposition > .p-button-label {
    font-weight: bold !important;
}

.p-button-icon {
    width: 3.25vh;
    border-radius: 100vw;
}

.column-gap-9 {
    column-gap: 8.5rem;
}

.w-37rem {
    width: 37rem;
}

.background-first {
    background-color: #FFD700;
}

.background-second {
    background-color: #C0C0C0;
}

.background-third {
    background-color: #CD7F32;
}
.no-background {
    background-color: #6E6E6E;
}

.p-card-content {
    display: flex;
    flex-direction: column;
}

#categories-container {
    max-height: calc(86vh - 474px);
}

#photos-container {
    max-height: calc(86vh - 373px);
}

#game-photo-container {
    height: 36rem;
    width: 48rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-photo-container > img {
    border-radius: 2rem;
    max-width: 100%;
    max-height: 100%;
}