@media screen and (max-width: 576px) {
    @keyframes scale-in-center {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .scale-in-center-1 {
        animation: scale-in-center 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

    .scale-in-center-2 {
        animation: scale-in-center 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.05s both;
    }

    .scale-in-center-3 {
        animation: scale-in-center 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.1s both;
    }

    .scale-in-center-4 {
        animation: scale-in-center 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.15s both;
    }
}