@font-face {
    font-family: "Mikado";
    src: url("../../fonts/MikadoBlack.otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Linotte";
    src: url("../../fonts/LinotteRegular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Linotte";
    src: url("../../fonts/LinotteSemiBold.otf");
    font-style: normal;
    font-weight: bold;
}

/** COMMON ITEMS **/

* {
    font-family: 'Linotte', sans-serif !important;
}

#__next {
    align-items: center;
    color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

a:-webkit-any-link {
    color: unset;
    cursor: pointer;
    text-decoration: unset;
}

body {
    background-color: #EE9900;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f70076'/%3E%3Cstop offset='1' stop-color='%23f70076' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cc4200'/%3E%3Cstop offset='1' stop-color='%23cc4200' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d400aa'/%3E%3Cstop offset='1' stop-color='%23d400aa' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EE9900'/%3E%3Cstop offset='1' stop-color='%23EE9900' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236600FF'/%3E%3Cstop offset='1' stop-color='%236600FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23AA0000'/%3E%3Cstop offset='1' stop-color='%23AA0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

h1 {
    font-family: "Mikado", sans-serif !important;
    font-size: 3.5rem;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input {
    border-radius: 100rem !important;
    height: 3.5rem;
}

main {
    display: flex;
    margin: 3rem 0 2rem 0;
    padding: 0 2rem;
    width: 100%;
}

.page-title {
    align-items: center;
    align-self: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.p-toast-message-content {
    align-items: center;

    .p-toast-detail {
        margin-top: 0;
    }
}

.pi {
    font-family: "primeicons", sans-serif !important;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.2s;
}


/** PAGES AND COMPONENTS **/

#accesscodeform {
    align-items: center;
    justify-content: center;

    #container {
        align-items: center;
        background: white;
        box-shadow: 0 7px 30px rgba(0, 0, 0, 0.08), 0 22px 30px 2px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        height: fit-content;
        padding: 5rem;
        text-align: center;

        .header {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            #title {
                color: #424242;
                font-family: "Mikado", sans-serif !important;
                font-size: 2.5rem;
            }
        }

        form {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            div {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 100%;

                .p-inputtext {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: bold;
                    padding: 2.25rem 1.25rem;
                    width: 9rem;
                }
            }
        }
    }
}

#credentials {
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    #credentials-container {
        align-items: center;
        background: white;
        box-shadow: 0 7px 30px rgba(0, 0, 0, 0.08), 0 22px 30px 2px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 0 6rem;
        width: 30rem;

        h1 {
            color: #424242;
            margin: 6rem 0 4rem 0;
        }

        span {
            text-align: center;
        }

        form {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;

            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 100%;

                .p-inputtext {
                    padding: 1rem;
                }

                small {
                    padding: 0 1rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        footer {
            align-items: center;
            display: flex;
            margin: 4rem 0 2rem 0;

            button {
                padding: 0.5rem;
            }
        }
    }
}

#dashboard {
    flex-direction: column;
    gap: 3rem;
    margin-top: 1rem;

    #container {
        display: flex;
        gap: 2rem;

        .section-header {
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 1rem;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
        }

        .list-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;

            form {
                align-items: center;
                background: rgba(255, 255, 255, 0.66);
                border-radius: 100rem;
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                padding: 1rem;
                width: 100%;

                .p-inputtext {
                    height: 3rem;
                    width: calc(100% - 4rem);
                }
            }

            .category {
                align-items: center;
                background: rgba(255, 255, 255, 0.66);
                border-radius: 100rem;
                display: flex;
                justify-content:space-between;
                margin: 0;
                padding: 0.75rem 1rem;
                transition: 0.2s;

                &.hover:hover {
                    background: rgba(255, 255, 255, 1);
                    cursor: pointer;
                }

                &.selected {
                    background: rgba(255, 255, 255, 1);
                    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.08), 0 22px 30px 2px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15);
                }

                .title {
                    align-items: center;
                    display: flex;
                    font-size: 1.1rem;
                    font-weight: bold;
                    height: 3rem;
                    margin-left: 0.75rem;
                }
            }
        }

        .side-container {
            align-items: center;
            background: rgba(255, 255, 255, 0.66);
            border-radius: 2rem;
            color: #212121;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            height: fit-content;
            padding: 2rem;
            text-align: center;
        }

        .side-down-container {
            background: rgba(255, 255, 255, 0.66);
            border-radius: 100rem;
            padding: 0.75rem;
        }

        #instructions-container {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            position: sticky;
            top: 7rem;

            #title {
                font-size: 1.25rem;
                font-weight: bold;
            }

            .p-inputtext {
                background: rgba(255, 255, 255, 0.66);
                border: 1px solid #6366F1;
                border-radius: 100rem;
                caret-color: transparent;
                color: #212121;
                font-size: 1.5rem;
                font-weight: bold;
                padding: 1rem;
                text-align: center;
                transition: 0.2s;
                width: 6rem;

                &:hover {
                    background: rgba(255, 255, 255, 1);
                    cursor: pointer;
                }

                &:focus {
                    box-shadow: unset;
                }
            }

            #links-container {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                margin-top: 2rem;

                #instruction {
                    font-size: 1.25rem;
                    font-weight: bold;
                    margin-bottom: 0.5rem;
                }

                a {
                    color: #6366F1;
                    font-weight: bold;
                    text-decoration: none;
                }
            }

            .p-button {
                width: 100%;
            }
        }

        #uploader-container {
            #instructions {
                font-size: 1.25rem;
                font-weight: bold;
            }

            #drop-area {
                aspect-ratio: 4 / 3;
                background: rgba(255, 255, 255, 0.66);
                border: 1px dashed #dee2e6;
                border-radius: 1rem;
                color: #757575;
                display: flex;
                flex-direction: column;
                font-size: 1.25rem;
                font-weight: bold;
                gap: 1.25rem;
                justify-content: center;
                position: relative;
                transition: 0.2s;
                width: 100%;

                i {
                    font-size: 2.5rem;
                }

                &:hover {
                    background: rgba(255, 255, 255, 1);
                }
            }

            input {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                cursor: pointer;
            }

            img {
                aspect-ratio: 4 / 3;
                width: 100%;
                object-fit: contain;
            }
        }

        .players-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;

            .background-white {
                background: rgba(255, 255, 255, 0.66);
            }

            .background-dark {
                background: rgba(255, 255, 255, 0.28);
            }
        }

        #photos-container {
            .photo {
                background: rgba(255, 255, 255, 0.66);
                border-radius: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 2rem;

                .playercard-wrapper {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }

                img {
                    width: 100%;
                }
            }

            span {
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
    }
}

#game {
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;

    h1 {
        color: #FFFFFF;
        text-align: center;
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        margin: 1rem 0;
    }

    #container {
        display: flex;
        gap: 8rem;
        width: fit-content;

        #photo-container {
            background: rgba(255, 255, 255, 0.66);
            border-radius: 2rem;
            height: 31vw;
            padding: 2vw;

            img {
                width: 100%;
                height: 100%;
            }
        }

        #propositions-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 24vw;

            #propositions {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                #solution-container {
                    display: flex;
                    flex-direction: column;
                    gap: 6rem;

                    .solution-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 1.25rem;

                        .label {
                            text-align: center;
                            color: white;
                            font-size: 1.6rem;
                            font-weight: bold;
                            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }

            #validate-container {
                align-self: center;
                background: rgba(255, 255, 255, 0.66);
                border-radius: 100rem;
                margin-top: 2rem;
                padding: 0.75rem;

                .p-button {
                    width: fit-content;
                }
            }
        }
    }
}

#games {
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    min-height: calc(100vh - 10rem);

    #games-list {
        width: 100%;

        .game-item {
            align-items: center;
            background: white;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            padding: 1rem;

            .data {
                align-items: center;
                display: flex;
                gap: 1rem;

                .p-avatar {
                    flex-shrink: 0;
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;

                    .title {
                        font-size: 1.25rem;
                        font-weight: bold;
                    }
                }
            }

            .actions {
                display: flex;
                gap: 0.5rem;
            }
        }
    }
}

#home {
    align-items: center;
    gap: 3rem;
    justify-content: center;
    min-height: calc(100vh - 10rem);

    .home-item {
        align-items: center;
        background: rgba(255, 255, 255, 1);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: 20rem;
        justify-content: center;
        padding: 3rem;
        text-align: center;
        user-select: none;
        width: 25%;

        .title {
            color: #424242;
            font-family: "Mikado", sans-serif !important;
            font-size: 1.75rem;
        }

        .description {
            margin: 0 0 1rem 0;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            #input-wrapper {
                align-items: center;
                display: flex;
                gap: 1rem;

                input {
                    font-size: 1.75rem;
                    font-weight: bold;
                    height: 3rem;
                    text-align: center;
                    width: 7rem;
                }
            }

            small {
                position: fixed;
            }
        }
    }
}

#navbar {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08), 0 3px 4px rgba(0, 0, 0, 0.1), 0 1px 4px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

    .navbar-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        user-select: none;

        .username {
            color: #282828;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}

.playercard_container {
    align-items: center;
    background: rgba(255, 255, 255, 0.66);
    border-radius: 100rem;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: flex-start;
    margin: 0;
    padding: 0.75rem 1rem;
    transition: 0.2s;

    &.hover:hover {
        background: rgba(255, 255, 255, 1);
        cursor: pointer;
    }

    &.checked {
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 7px 30px rgba(0, 0, 0, 0.08), 0 22px 30px 2px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.15);
    }

    .playercard_username-wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .playercard_username {
            align-items: baseline;
            display: flex;
            flex-direction: row;
            font-size: 1.15rem;
            font-weight: bold;
            gap: 0.75rem;
            margin: 0;

            i {
                font-size: 1.05rem;
            }
        }

        .playercard_complementary {
            font-size: 1rem;
        }
    }
}